<div class="section-header">
  <div class="section-header__content">
    <div class="section-header__text">
      <h3 class="section-header__title">
        <lucide-angular *ngIf="icon" [name]="icon" [size]="24" class="section-header__icon lucide-icon"></lucide-angular>
        {{ title }}
      </h3>
      <p *ngIf="subtitle" class="section-header__subtitle">{{ subtitle }}</p>
    </div>
  </div>
  <div *ngIf="showActions" class="section-header__actions">
    <ng-content select="[section-actions]"></ng-content>
  </div>
</div>
